---
layout: default
---

<div class="content">

    <p>Birt: {{ page.date | date: "%b %-d, %Y" }}, {{ page.author }}</p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>



